<div class="py-5 bg-light mx-md-3 sec-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h4 fw-bold">Subscribe to newsletter</h2>
                {% include 'partials/_flashes.html.twig' %}
            </div>
        </div>
        {{ render(controller('App\\Controller\\NewsLetterController::subscribeToNewsLetter')) }}
    </div>
</div>