{% for elements in categories %}
       
    <ul class="dropdown">
    {% for category in elements %}
        <li><a  href="{{ url('app_category', {'slug': category.slug}) }}">{{ category.titre }}</a></li>
    {% endfor %}
    </ul> 
{% endfor %}